In [1]:
import pandas as pd
aa=pd.read_csv("aa.csv")
aa

       playerID                awardID  yearID lgID
0      bondto01  Pitching Triple Crown    1877   NL
1     hinespa01           Triple Crown    1878   NL
2     heckegu01  Pitching Triple Crown    1884   AA
3     radboch01  Pitching Triple Crown    1884   NL
4     oneilti01           Triple Crown    1887   AA
...         ...                    ...     ...  ...
6526  reynobr01           TSN All-Star    2021   NL
6527  scherma01           TSN All-Star    2021   NL
6528  haderjo01           TSN All-Star    2021   NL
6529  friedma01         Silver Slugger    2021   NL
6530  ramirjo01           TSN All-Star    2021   AL

[6531 rows x 4 columns]

In [3]:
temp= input("type temp in farenheit ")
deg= ((float(temp)-32)/9)*5
print("the temp in deg cel is", int(deg))

type temp in farenheit 200
the temp in deg cel is 93

In [4]:
type(deg)

float

In [6]:
1 + 2 * 3 - 8 / 4

5.0

In [16]:
ii=min("hello_worlsd")
print(ii)

_

In [2]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')
print(data[pos:pos+3])

.ma